html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  /* padding: 16px; */
  /* border: 1px solid #ddd; */
  /* border-radius: 16px; */
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
}

* {
  box-sizing: border-box;
}

button {
  font-family: inherit;
}